*
    box-sizing: border-box
    color: #333d45

@font-face
    font-family: bebas
    src: url(/static/fonts/Bebas.woff2)
@font-face
    font-family: ponter
    src: url(/static/fonts/Ponter.ttf)

body
    padding: 0
    margin: 0

.body
    position: relative

.content
    padding: 0 20px

.button
    font-family: sans-serif
    font-size: 17px
    text-transform: uppercase
    display: block
    line-height: 21px
    text-decoration: none
    background-color: transparent
    height: 26px
    // border-radius: 60px
    color: #333333
    padding: 2px 10px
    border: 1px solid #333

    
.header
    height: 70px
    background: #f1f1f1
    box-shadow: 1px 3px 6px 0px #c1c1c1

    &__content
        height: 100%
        display: flex
        align-items: center
        justify-content: space-between
    
    &__button
        &-mobile
            display: none

        &:not(:last-child)
            margin-right: 10px

        &s
            display: flex
            list-style: none


.logo
    display: flex
    align-items: center
    
    
    &__img
        width: 50px
        height: 50px
        margin-right: 8px

    &__text
        font-family: bebas
        font-size: 40px

.mobile-menu
    opacity: 0
    transform: translateX(-100%)
    transition: 0.5s ease-in-out
    height: 100vh
    background-color: #fff
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100%
    position: fixed
    top: 0
    left: 0
    z-index: 100

    &.active
        opacity: 1
        transform: translateX(0)

    &__item
        text-decoration: none
        font-family: ponter
        font-size: 30px
        &:not(:last-child)
            margin-bottom: 40px


.title
    font-family: bebas
    font-size: 64px
    margin: 0
    padding-top: 20px
    opacity: 0.7

    &__main 
        margin-bottom: 20px

    &__started-screen
        color: black
        font-size: 80px


.description
    font-family: sans-serif
    font-size: 17px
    font-weight: bold

.started-screen
    // height: 550px
    position: relative
    z-index: 1
    padding: 30px 20px
.background
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    background: url("static/images/mac.jpg") center no-repeat
    background-size: cover
    opacity: 0.3
    z-index: 0

.section
    display: flex
    align-items: center
    margin: 20px 0
    flex-direction: column
    padding-bottom: 60px

.card
    box-shadow: 1px 3px 6px 1px #c1c1c1
    text-decoration: none
    width: 90%
    margin-bottom: 30px

    &__body
        min-height: 200px
        padding: 20px
        

    &__wrapper
        display: flex
        align-items: center

    &__image
        width: 100px


    &__description
        text-align: left
        margin: 0
        font-size: 12px

    &__title
        font-family: sans-serif
        font-size: 20px
        text-align: center
        display: block
        font-weight: bold
        margin-bottom: 30px

    &__teacher
        border-radius: 50%

.round-block
    border-radius: 50%
    overflow: hidden

.teachers
    
    &__description
        text-align: center

    &__image
        object-fit: cover
        width: 100%
        height: 100%

        &-wrapper
            margin-right: 20px
            flex-shrink: 0
            box-shadow: 0 2px 6px #f1f1f1
            height: 100px
            width: 100px

.partners

    &__images
        padding: 0 20px
        display: flex
        justify-content: space-around
        flex-flow: wrap

    &__img
        width: 150px
        height: 200px
        object-fit: contain


.footer
    padding: 30px 20px
    background: linear-gradient(45deg, #d6d6d6, #415b67)
    border-top: 1px solid #e3e3e3
    display: flex
    align-items: center
    flex-direction: column

    &__title
        font-size: 70px
        color: #fff
    
    &__links
        display: flex
        align-items: center

    &__link
        text-decoration: none

    &__img
        height: 40px
        


@media (max-width: 768px)
    .hide-on-mobile
        display: none
    
    .show-on-mobile
        display: block

@media (min-width: 768px)
    .content
        padding: 0 50px
        width: 80%
        margin: 0 auto
